/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
  margin-top: 150px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

/*Social Media Icons*/


/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoEmail:hover {
	background-color: #720E9E;
}
.social-network a.icoGithub:hover {
	background-color:#000000;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoFlickr:hover {
	background-color:#FF0084;
}
.social-network a.icoWordPress:hover {
	background-color:#21759b;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb5;
}
.social-network a.icoEmail:hover i, .social-network a.icoGithub:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoFlickr:hover i, .social-network a.icoWordPress:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.social-circle a {
 background-color: rgba(255,255,255,.75);;   
}

/*Boostrap Theme "Simply Me"*/

.bg-1 { 
       background-color: #1abc9c; /* Green */
        color: #ffffff;
}

.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}

.bg-4 { 
    background-color: #2f2f2f;
    color: #ffffff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

/*body {
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {font-size: 16px;}*/

/*
My Own CSS! - Shanta.
*/

/*This helps with the spacing on the index.html page for the search area.*/
#searchInput {
  height: 40px;
  margin-bottom: 20px;
}

#search404button{
  margin-bottom: 60px;
}

/*To space out the form on the contact.html page */
#mc_embed_signup {
  text-align: left;
  margin-left: 300px;
}

.img-circle {
  width: 300px;
  margin: 20px;
}

/*Used on the About page. would like the height to be slightly less and the content within the div to be centered. */
.container-fluid {
  height: 500px;
  vertical-align: middle;
  float: none;
}

/*Used on the index page to float the two checkbox areas side by side.*/
#unitSize {
  float: left;
}

#unitSpeciality {
  float: right;
}

#checkbox-wrapper {
  width: 400px;
  margin-left: 125px;
}

#orgUnitSelect {
  margin-top: 175px;
  margin-bottom: 30px;
}

/*Borrowed from the node-diving-deeper project. Need to change the names later. Currently being used as part of the styling for Results.js */

.dev-list-item:hover {
  background-color: lightseagreen;
}

.dev-list-item {
  /*height: 200px;*/
  /*width: 600px;*/
  /*margin-left: 100px;*/
  text-align: left;
  padding: 10px;
  cursor: pointer;
  list-style: none;
  background-color: gray;
}

#movie-details {
  max-height: 350px;
  max-width: 262px;
}

#movie-details .buttons {
  text-align: center;
}

.dev-link {
  color: inherit;
}

.dev-link:hover {
  color: inherit;
  text-decoration: none;
}

.form-group {
  display: inline-block;
  margin: 0 40px;
  margin-bottom: 40px; 
}
.checkbox {
    text-align: left;
}